* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyFont";
  src: url("/CS-Layout/fonts/Roboto-Regular.ttf");
}
body {
  font-family: "MyFont", sans-serif;
  box-sizing: border-box;
}

.section-padding {
  padding-left: 75px;
  padding-right: 75px;
}

header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.273);
  width: 100%;
}
header .container-hd {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
}
header .container-hd .col-1 {
  width: 10%;
  text-align: center;
}
header .container-hd .col-1 .logo-hd {
  width: 100px;
  cursor: pointer;
}
header .container-hd .col-2 {
  width: 50%;
  display: flex;
  align-items: center;
}
header .container-hd .col-2 .menu-hd {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
}
header .container-hd .col-2 .menu-hd li {
  list-style: none;
  font-size: 15px;
}
header .container-hd .col-2 .menu-hd li a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header .container-hd .col-2 .menu-hd li span {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
header .container-hd .col-2 .menu-hd li #btn-menu {
  width: 85px;
  background-color: white;
  border-radius: 90px;
  text-align: center;
}
header .container-hd .col-2 .menu-hd li #btn-menu img {
  width: 20px;
  margin: 8px 4px;
  cursor: pointer;
}

.cover {
  width: 100%;
  height: 100vh;
}
.cover .container-cover {
  width: 100%;
  height: 100%;
}
.cover .container-cover img {
  width: 100%;
  height: 100%;
}

.bestPlace {
  padding-top: 50px;
  padding-bottom: 30px;
}
.bestPlace .bestPlace__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.bestPlace .bestPlace__places {
  display: flex;
  justify-content: space-between;
}
.bestPlace .bestPlace__places .bestPlace__places__item {
  width: 320px;
  height: 420px;
  background-image: url(../../img/bestPlace-HaNoi.jpg);
  background-position: -200px center;
  background-size: cover;
  border-radius: 10px;
}
.bestPlace .bestPlace__places .bestPlace__places__item .bestPlace__places__flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}
.bestPlace .bestPlace__places .bestPlace__places__item .bestPlace__places__flex .bestPlace__places__text {
  width: 250px;
  height: 70px;
  background-color: #4ccd99;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
.bestPlace .bestPlace__places .item--saiGon {
  background-image: url(../../img/bestPlace-SaiGon.jpg);
  background-position: -200px center;
  background-size: cover;
}
.bestPlace .bestPlace__places .item--daNang {
  background-image: url(../../img/bestPlace-DaNang.jpg);
  background-position: -185px center;
  background-size: cover;
}
.bestPlace .bestPlace__places .item--nhaTrang {
  background-image: url(../../img/bestPlace-NhaTrang.jpg);
  background-position: -200px center;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */