.bestPlace {
  padding-top: 50px;
  padding-bottom: 30px;
  .bestPlace__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .bestPlace__places {
    display: flex;
    justify-content: space-between;
    .bestPlace__places__item {
      width: 320px;
      height: 420px;
      background-image: url(../../img/bestPlace-HaNoi.jpg);
      background-position: -200px center;
      background-size: cover;
      border-radius: 10px;
      .bestPlace__places__flex {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;
        .bestPlace__places__text {
          width: 250px;
          height: 70px;
          background-color: $color-green-0;
          text-align: center;
          color: $color-white-0;
          border-radius: 10px;
        }
      }
    }
    .item--saiGon {
      background-image: url(../../img/bestPlace-SaiGon.jpg);
      background-position: -200px center;
      background-size: cover;
    }
    .item--daNang {
      background-image: url(../../img/bestPlace-DaNang.jpg);
      background-position: -185px center;
      background-size: cover;
    }
    .item--nhaTrang {
      background-image: url(../../img/bestPlace-NhaTrang.jpg);
      background-position: -200px center;
      background-size: cover;
    }
  }
}
