header{
    position: fixed;
    background-color: $white-color;
    width: 100%;
    z-index: 1000;
    .container-hd{
        width: 100%;
    display: flex;
    justify-content: space-around;
        // background-color: red;
        .col{
            display: flex;
            justify-content: left;
            align-items: center;
            .icon-header{
                width: 12%;
            }
            .btn-height{
                height: 45%;
            }
            .btn-header{
                border: 1px solid black;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                margin-left: 12px;
                flex-wrap: wrap;
                cursor: pointer;
            }
        }
        .col-1{
           
            padding: 25px 0;
            margin: 0 3%;
            text-align: center;
            .logo-hd{
                width: 100%;
                cursor: pointer;
            }
        }
        .col-2{
            width: 45%;
            justify-content: center;
            .input-search-header{
                background-image: url(/img/icon-search.png);
                background-repeat: no-repeat;
                background-size: 22px;
                background-position: 3%;
                width: 65%;
                padding-left: 8%;
                border-radius: 20px;
                color: black;
                border: 1px #B0B0B0 solid;
                &:focus-visible{
                    border: none;
                }
            }
            .search-local {
                border: 1px solid #B0B0B0;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                margin-left: 12px;
                flex-wrap: wrap;
            

                p{
                    margin: 0 10px;
                }
            }
            }
            .col-3{
                width: 45%;
                justify-content: center;
                .register-host{
                    background: #28cf8c;
                    color: white;
                    font-weight: bold;
                    border:none;
                    p{
                        margin: 0;
                        margin-left: 10px;
                    }
                }
                .dropdown-header{
                    width: 13%;
                    border: 1px solid #B0B0B0;
                    justify-content: space-evenly;
                    img{
                        width: 30%;
                    }
                }
            }
        }

    }