.searchPlace {
  height: 150px;
  // background-image: url(../../img/search-banner.jpg);
  // background-position: center;
  // background-size: cover;
  position: relative;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: $color-black-0;
  }
  .searchPlace__flex {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .searchPlace__content {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $color-white-0;
      border-radius: 50px;
      overflow: hidden;
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.08);
      .searchPlace__item {
        width: 300px;
        height: 90px;
        background-color: $color-white-0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .searchPlace__icon {
          height: 40px;
          display: flex;
          align-items: start;
          font-size: 30px;
          margin-right: 15px;
          i {
            transition: all 0.3s;
          }
        }
        .searchPlace__text {
          .searchPlace__text__title {
            font-weight: bold;
          }
          .searchPlace__text__detail {
            font-size: 14px;
            color: $color-black-2;
          }
        }
        &::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 50px;
          background-color: $color-black-3;
          position: absolute;
          right: 0;
        }
        &:hover {
          cursor: pointer;
          i {
            color: $color-green-0;
          }
        }
      }
      .searchPlace__guests {
        &::after {
          width: 0;
        }
      }
      .searchPlace__btnSearch {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $color-green-0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        cursor: pointer;
        i {
          font-size: 20px;
          color: $color-white-0;
        }
        &:hover {
          background-color: $color-green-2;
        }
      }
    }
  }
}
