.main-admin {
  .left-admin {
    background-color: #111518;
    padding: 0;
    .logo-admin {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75px;
      img {
        width: 55%;
      }
    }
    .title-admin {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      color: $color-white-0;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 500;
      border-top: 1px solid $color-green-0;
      border-bottom: 1px solid $color-green-0;
      padding: 8px 0;
      span {
        margin-left: 10px;
        font-weight: bold;
      }
      i {
        color: $color-green-0;
      }
    }
    .navbar-admin {
      display: flex;
      justify-content: center;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 15px;
        li {
          padding: 8px 0;
          margin: 5px 0;
          a {
            text-decoration: none;
            color: $color-white-0;
            transition: 0.3s;
            &:hover {
              color: $color-green-0;
            }
            &.active {
              color: $color-green-0;
            }
            span {
              font-weight: 500;
            }
            i {
              width: 24px;
            }
          }
        }
      }
    }
    .btn-admin {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .btn--home {
        padding: 7px 25px;
        background-color: $color-green-0;
        text-decoration: none;
        color: $color-white-0;
        font-weight: bold;
        border-radius: 20px;
        transition: all 0.3s;
        &:hover {
          background-color: $color-green-2;
        }
      }
    }
  }
  .right-admin {
    padding: 0;
    .header-admin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      box-shadow: 0px 1px 5px #999;
      .header-form {
        position: relative;
        input {
          width: 390px;
          padding: 8px 15px;
          padding-right: 39px;
          border: 2px solid #999;
          border-radius: 20px;
          font-size: 15px;
          &:focus {
            outline: none;
          }
        }
        .header-search {
          position: absolute;
          right: 17px;
          top: 9px;
          border: none;
          background-color: transparent;
          i {
            font-size: 18px;
          }
        }
      }
      .header-account {
        .user-admin {
          display: inline-block;
          width: 45px;
          height: 45px;
          padding: 8px;
          border: 1px solid #999;
          border-radius: 50%;
          &::after {
            content: unset;
          }
          img {
            width: 100%;
          }
        }
        .dropdown-item {
          font-size: 14px;
          padding: 8px 15px;
          i {
            margin-right: 7px;
          }
        }
      }
    }
    .content-admin {
      min-height: 700px;
      padding: 0 30px;
      .content-adminTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        h2 {
          font-size: 26px;
          font-weight: bold;
        }
        .admin-btnAdd {
          .btn--add {
            padding: 9px 20px;
            background-color: $color-black-5;
            border-radius: 50px;
            text-decoration: none;
            color: $color-white-0;
            font-weight: bold;
            font-size: 14px;
            transition: all 0.3s;
            &:hover {
              background-color: $color-green-0;
            }
          }
        }
      }
      .content-adminBottom {
        margin: 15px 0 40px;
        width: 1206px;
        overflow-x: auto;
        table,
        th,
        td {
          border: 1px solid $color-gray-0;
          border-collapse: collapse;
          text-align: center;
        }
        table {
          width: 100%;
          th {
            padding: 15px;
            text-transform: uppercase;
            font-size: 14px;
            background-color: $color-green-0;
            text-wrap: nowrap;
          }
          td {
            padding: 10px;
            // text-wrap: wrap;
            .img-admin {
              width: 50px;
              height: 50px;
              object-fit: cover;
            }
            .btn-action {
              display: flex;
              flex-direction: column;
              align-items: center;
              .btn--operation {
                width: 90px;
                padding: 5px 0;
                border-radius: 10px;
                color: $color-white-0;
              }
              a {
                text-decoration: none;
                background-color: $color-blue-3;
              }
              button {
                border: none;
                background-color: $color-red-1;
                margin: 7px 0;
              }
              .btn--detail {
                background-color: $color-gray-2;
              }
            }
          }
          .btnTd {
            width: 13%;
          }
          .id-pd {
            padding: 10px;
          }
        }
      }
    }
    .footer-admin {
      padding: 15px 30px;
      display: flex;
      align-items: center;
      box-shadow: 1px 0px 5px #999;
      .footer-logo {
        img {
          width: 130px;
        }
      }
      .footer-copyright {
        width: 90%;
        text-align: center;
        .footer-lttin {
          margin-bottom: 0;
          font-size: 15px;
          a {
            text-decoration: none;
            color: $color-green-2;
            font-weight: 500;
          }
        }
      }
    }
  }
}
