.SearchResults-container{
    padding-top: 130px;
    .title-SearchResults{
        font-size: 32px;
    }
    .sub-title-SearchResults{
        color: #808080;
    }
    .places{
        .places__container{
            padding: 0;
        }
    }
}