.updateAccount__container {
  padding-top: 130px;
  padding-bottom: 70px;
  width: 1120px;
  margin: 0 auto;
  .updateAccount__title {
    margin-bottom: 30px;
    h3 {
      text-align: center;
    }
  }
  .updateAccount__content {
    display: flex;
    justify-content: center;
    gap: 0 50px;
    .updateAccount__avatar {
      overflow: hidden;
      border-radius: 9px;
      img {
        width: 320px;
        height: 100%;
        border-radius: 9px;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .updateAccount__form {
      display: flex;
      margin-bottom: 25px;
      .input-title {
        margin-bottom: 5px;
        font-weight: 500;
      }
      input {
        margin-bottom: 10px;
        padding: 7px;
        border-radius: 5px;
        border: 1.5px solid $color-gray-1;
        width: 300px;
        &:focus {
          outline: none;
          border: 1.5px solid $color-green-0;
        }
      }
      textarea {
        padding: 7px;
        border-radius: 5px;
        border: 1.5px solid $color-gray-1;
        width: 300px;
        height: 193px;
        &:focus {
          outline: none;
          border: 1.5px solid $color-green-0;
        }
      }
      .updateAccount__left {
        margin-right: 30px;
      }
    }
    button {
      padding: 9px 0;
      width: 100%;
      border-radius: 5px;
      border: none;
      background-color: $color-green-0;
      color: white;
      font-weight: 700;
      transition: all 0.3s;
      &:hover {
        background-color: $color-green-2;
      }
    }
  }
}
