* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "MyFont";
  src: url("/CS-Layout/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "FontBanner";
  src: url("/CS-Layout/fonts/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "FontFilter";
  src: url("/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "FontDetailPlace";
  src: url("/fonts/Roboto-Light.ttf");
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.section-padding {
  padding-left: 75px;
  padding-right: 75px;
}
