* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "MyFont";
  src: url("/CS-Layout/fonts/Roboto-Regular.ttf");
}
body {
  font-family: "MyFont", sans-serif;
  box-sizing: border-box;
}
.section-padding {
  padding-left: 75px;
  padding-right: 75px;
}
